html, 
body{
    background-color: #EAEAEA;
    box-sizing: border-box;    
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    #social{
        margin: 10px;
        position: relative;
        right: 0;        
        text-align: right;
        z-index: 600;
    }
       #social ul{
          display: inline-block;
          margin: 0 auto;
          padding: 0;
          vertical-align: middle;
      }
          #social ul li{
              display: inline-block;
              margin: 0 3px;
              vertical-align: middle;
          }
            #social ul li a{
                height: 36px;
                width: 36px;
            }
            #fb{
                background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/abuso-infantil/img/fb-icon-negro.png?v2) no-repeat 0 0;
                background-size: 100% !important;
                border: none;
                display: inline-block;
                height: 36px;
                text-indent: -9999px;
                width: 36px;
            }

            #wst{                
                background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/abuso-infantil/img/wsp-icon-negro.png?v2) no-repeat 0 0 !important;
                background-size: 100% !important;
                border: none;
                display: none;
                height: 36px;
                text-indent: -9999px;
                width: 36px;
            }

            #tw{            
                background: url(https://d1ts5g4ys243sh.cloudfront.net/proyectos_especiales_prod/especiales-multimedia/abuso-infantil/img/tw-icon-negro.png?v2) no-repeat 0 0 !important;
                background-size: 100% !important;
                border: none;
                display: inline-block;
                height: 36px;
                text-indent: -9999px;
                width: 36px;
            } 

.box-cabecera{
    padding: 40px 0 0;
}   
    .logo-ecdata{
        display: block;
        margin: 0 auto;
        max-width: 130px;
    }        
    .box-titulo{
        margin-bottom: 50px;
        text-align: center;
    } 
        .box-titulo span.linea{
            background: #707070;
            display: block;
            height: 1px;
            margin: 20px auto;
            width: 180px;
        }
        .box-titulo h1{
            font: 48px/1.2 "Merriweather", serif;
            font-weight: 900;
            margin: 5px auto;
        }
        .box-titulo h2{
            font: 32px/1.2 "Merriweather", serif;
            font-weight: 400;
            margin: 0 auto;
            max-width: 400px;
        }
            .box-titulo h2 span{
                font-weight: 700;
            }
    .box-indicacion{
        background-color: #fff;        
        margin: 0 auto;
        max-width: 230px;
        text-align: center;
    }
        .box-indicacion img{
            display: inline-block;
            max-width: 25px;
            vertical-align: top;
        }
        .box-indicacion p{
            display: inline-block;
            font: 13px/1.2 "Roboto", sans-serif;
            font-weight: 400;
            margin: 6px 3px;
            text-transform: uppercase;
            vertical-align: top;
        }
    .box-cabecera ul{
        list-style-type: none;
        margin: 10px auto;
        max-width: 700px;
        padding: 0;
        text-align: center;
    }
        .box-cabecera ul li{
            display: inline-block;
            margin-bottom: -4px;
            margin-left: -4px;
            max-width: 100px;
            position: relative;
            vertical-align: top;
        }
            .box-cabecera ul li p{
                background-color: #252525;
                bottom: 4px;
                color: #fff;
                font: 12px/1.2 "Roboto", sans-serif;
                font-weight: 700;
                left: 5%;
                margin: 0 auto;
                padding: 3px 0;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                width: 90%;                
            }
            #btn-alegria,
            #btn-enojo,
            #btn-miedo,
            #btn-tristeza,
            #btn-desagrado{
                cursor: pointer;
            }
    p.bajada{
        font: 16px/1.5 "Roboto", sans-serif;
        font-weight: 400;
        margin: 60px auto;
        max-width: 400px;
        text-align: center;
    }
        p.bajada span{
            font-weight: 700;
        }
    .box-sentimiento{
        border-top: 1px solid #707070;
        margin: 100px auto 0;
        max-width: 700px;
        padding-top: 40px;
        text-align: center;
    }
        .box-gif{
            display: inline-block;
            max-width: 49%;
            vertical-align: top;
        }
            .box-gif h6{
                color: #fff;
                font: 18px/1.5 "Roboto", sans-serif;
                font-weight: 700;
                margin: 0 auto;
                padding: 5px 0;
                text-align: center;
                text-transform: uppercase;
            }
                .box-gif h6.alegria{
                    background-color: #FFDF31;
                }
                .box-gif h6.enojo{
                    background-color: #F46464;
                }
                .box-gif h6.miedo{
                    background-color: #F064EB;
                }
                .box-gif h6.tristeza{
                    background-color: #9E89F4;
                }
                .box-gif h6.desagrado{
                    background-color: #6ECC80;
                }                
        .box-info-sentimiento{
            background-color: #fff;
            box-sizing: border-box;
            display: inline-block;
            margin-bottom: 4px;
            margin-left: -4px;
            max-width: 49%;
            min-height: 342px;
            padding: 20px 30px;
            text-align: left;
            vertical-align: bottom;
        }
            .box-info-sentimiento h5{
                font: 20px/1.2 "Roboto", sans-serif;
                font-weight: 700;
                margin: 0 auto 10px;
            }
            .box-info-sentimiento h4{
                font: 16px/1.2 "Roboto", sans-serif;
                font-weight: 800;
                margin: 10px auto;
                text-transform: uppercase;
            }
            .box-info-sentimiento p{
                font: 14px/1.5 "Roboto", sans-serif;
                font-weight: 400;
            }
                .box-sentimiento .box-info-sentimiento h5.amarillo{
                    color: #FFDF31;
                }
                .box-sentimiento .box-info-sentimiento h5.rojo{
                    color: #F46464;
                }
                .box-sentimiento .box-info-sentimiento h5.morado{
                    color: #F064EB;
                }
                .box-sentimiento .box-info-sentimiento h5.azul{
                    color: #9E89F4;
                }
                .box-sentimiento .box-info-sentimiento h5.verde{
                    color: #6ECC80
                }                
            .box-info-sentimiento audio{
                margin-top: 10px;
                width: 100%;
            }
        .box-gestos{
           /* border-bottom: 1px solid #707070;*/
            margin-bottom: 40px;
            padding-bottom: 40px;
        }   
            .box-gestos h5{
                font: 15px / 1.3 "Roboto", sans-serif;
                font-weight: 400;                
                margin: 0 auto 15px;
                padding: 10px 20px;
                text-align: left;
                text-transform: uppercase;
            } 
            .box-descripcion-gesto{
                display: inline-block;
                max-width: 300px;
                vertical-align: top;
            }
                .box-simbolo{
                    display: inline-block;
                    margin-right: 10px;
                    max-width: 10%;
                    vertical-align: top;
                }
                    .box-simbolo svg{
                        display: block;
                        width: 100%;
                    }
                .box-descripcion-gesto p{
                    display: inline-block;
                    font: 14px / 1.3 "Roboto", sans-serif;
                    font-weight: 400;                
                    margin: 0 auto;
                    max-width: 85%;
                    text-align: left;
                    vertical-align: top;
                }
                    .box-descripcion-gesto p span{
                        font-weight: 700;
                        text-transform: uppercase;
                    }
        p.descripcion{
            font: 14px/1.6 "Roboto", sans-serif;
            font-weight: 400;    
            margin: 0 auto; 
            max-width: 520px;
            text-align: left;          
        }
            p.descripcion.bold{
                font-weight: 700;
                margin-bottom: 10px;
            }

.box-emociones{

}
    .box-emociones h3{
        font: 22px/1.3 "Merriweather", serif;
        font-weight: 900;
        margin: 50px auto 20px;
        max-width: 365px;
        text-align: center;
    }
    .box-barras{
        margin: 0 auto;
        max-width: 500px;
    }
        /*#linea-tristeza{
            margin: 0 auto;
            max-width: 100px;
        }*/

.box-creditos{
    padding: 60px 0 20px;
    text-align: center;
}
    img#logo-footer{
        display: block;
        margin-bottom: 30px;
    }
    .box-creditos p{
        font: 14px / 1.3 "Roboto", sans-serif;
    }
        .box-creditos p span{
            display: block;
            font-weight: 700;
        }
        .box-creditos img{
            display: block;
            margin: 0 auto;
            max-width: 150px;
        }

@media only screen and (max-width: 640px){

    .box-cabecera{
        padding: 0;
    }   
        .box-indicacion{
            max-width: 80%;
        }
            .box-indicacion p{
                font-size: 1.1rem;
            }
    .box-cabecera ul li{
        max-width: 40%;
    }
        .box-cabecera ul li:nth-child(1),
        .box-cabecera ul li:nth-child(2),
        .box-cabecera ul li:nth-child(6),
        .box-cabecera ul li:nth-child(7),
        .box-cabecera ul li:nth-child(8),
        .box-cabecera ul li:nth-child(12){
            display: none;
        }
        .box-cabecera ul li p{
            font-size: 1rem;
        }
    p.bajada{
        font-size: 1.2rem;
        margin: 60px 30px;
    }
    .box-gif{
        max-width: 85%;
    }
    .box-info-sentimiento{
        margin-left: 0;
        margin-top: -4px;
        max-width: 85%;
    }
        .box-info-sentimiento h5{
            font-size: 24px;
        }
        .box-info-sentimiento h4{
            font-size: 1.3rem;
        }
        .box-info-sentimiento p{
            font-size: 1.2rem;
        }
        .box-gestos{
            padding-top: 20px;
        }
            .box-gestos h5{
                font-size: 1.2rem;
                padding: 10px 30px;
            }
            .box-descripcion-gesto{
                margin-bottom: 40px;
                max-width: 85%;
            }
            .box-descripcion-gesto p{
                font-size: 1.2rem;
            }
        p.descripcion{
            font-size: 1.2rem;
            padding: 0 20px;
        }

}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-height: 732px){

}